<%- include("header")-%>
   <h1>About</h1>
   <p>
      This is a website developed purely for educational purpose...!
      <br>
      dev by: prasanthav14
      <br>
   <h4><u>Tools used</u></h4>
   <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>Bootstrap</li>
      <li>Node JS</li>
      <li>Express</li>
      <li>Mongo DB</li>
      <li>Mongoose</li>
   </ul>
   </p>

   <%- include("footer")-%>